@import '../vendor/css/normalize.css';
@import 'homehero.scss';

* {
    box-sizing: border-box;

    :before,
    :after {
        box-sizing: inherit;
    }
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100vh;
}

body {
    font-family: "Quicksand", Helvetica, Arial, sans-serif;
    font-size: 1.15rem;
    line-height: 1.9rem;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
    color: rgb(67, 95, 255);
    transition: all 0.3s ease;
    outline: none;

    &:hover {
        text-decoration: none;
    }
}

p {
    margin: 1.8em 0;
}

button {
    outline: none;
}

img {
    width: 100%;
    border-style: none;
}

h2 {
    font-size: 2.2em;
    // color: #fff;
    margin-bottom: 2em;
    font-weight: 900;
    line-height: 1.2em;

    @media (min-width: 768px) {
        font-size: 2.8em;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.block {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

.button {
    display: inline-block;
    border-radius: 100px;
    padding: 12px 45px;
    color: #ffffff !important;
    background: #EF318D;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;

    &:hover {
        background: darken(#FF449E, 8%);
    }
}

// HEADER

.header {
    display: flex;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: auto;
    padding: 30px 70px;

    .logo-header{
        // display: none;
    }

    .social-icons {
        flex: 1;

        @media ( max-width: 767px) {
            display: none;
        }
    }

    img {
        width: auto;
    }
}

.social-icons {

    a {
        display: inline-block;
        margin-left: 25px;
        margin-top:5px;
        opacity: 0.8;
        transform: scale(0.9);

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    }
}

// FOOTER

.footer {
    padding: 60px 0 90px;
    background: #000;
    color: rgba(#fff, 0.8);
  
    .social-icons {
        margin-bottom: 40px
    }

    a {
        color: rgba(#fff,0.8);
        text-decoration: none;

        &:hover {
            color: #EF318D;
        }
    }

    .footer-inner {
        display: grid;
        // grid-template-columns: repeat(auto, 1fr);
        grid-template-rows: 2fr;
        // grid-column-gap: 0px;
        // grid-row-gap: 0px;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        > * {
            vertical-align: middle;
            padding-bottom: 30px;
        }

        a {
            display: inline-block;
            position: relative;
            padding-left: 20px;
            line-height: 1;
            white-space: nowrap;
            font-size: 85%;
            
            &:before {
                content:'';
                position: absolute;
                left:0; 
                top: 0;
                bottom: 0;
                width:3px;
                background: #EF318D;
            }
        }
    }

    .organizedby {
        border-top: 1px solid rgba(#fff, 0.15);
        color: rgba(#fff, 0.7);
        padding: 30px 0 0;
        font-size: 90%;
    }

    .copyright {
        grid-column: 1/span 3;
        grid-row: 2;
        padding: 40px 0 0;
        color: rgba(#fff, 0.4);
        font-size: 80%;

        a {
            padding-right: 0;
            &:after {
                display: none;
            }
        }
    }

}

// SPEAKERS

.speakers-grid {
    padding: 4em 0;
    background-image: url("../images/dotted-pattern.svg");

    .speakers-list {
        width: 100%;
        list-style-type: none;
        margin: 0 auto;

        .speaker-name {
            font-size: 1.2rem;
            font-weight: 700;
            margin-top: 10px;
        }

        .speaker-title-company {
           text-transform: uppercase;
           font-size: 80%;
        }

        // li { 
        .speaker {
            display: block;
            position: relative;

            @media (min-width: 577px) {
                padding-left: 2.3em;
                padding-right: 2.3em;
            }
            
            .img {
                height: auto;
                position: relative;
                width: 100%;
            }

            .img:before {
                content: '';
                width: 100%;
                height: calc(100% - 9px);
                display:block;
                position: absolute;
                left:0;
                bottom: 9px;
                background: #EF318D;
                transform-origin: left bottom;
                z-index: -1;
                transition: all 0.3s ease;
            }

            &:hover {

                .img:before {
                    transform: rotate(-2deg);
                }

                img {
                    transform: rotate(1deg);
                }
            }

            

            img {
                object-fit: cover;
                // border-radius: 6px;
                height: 100%;
                transition: all 0.3s ease;
                transform-origin: right bottom;
            }

            .topic-tag {
                position: absolute;
                font-size: 10px;
                text-transform: uppercase;
                // background: rgb(0, 135, 224);
                background: #EF318D;
                padding: 0 15px;
                color: #fff;
                top: 30px;
                right: 15px;
                font-weight: 700;

                @media (max-width: 576px) {
                    right: -6px;
                }
            }
            
        }

        // li:first-child {
        //     grid-column: 1/span 4;
        //     grid-row: 2/span 4;
        // }

        // li:nth-child(2){
        //     grid-column: 5/span 4;
        //     grid-row: 1/span 4;
        // }

        // li:nth-child(3) {
        //     grid-column: 9/span 4;
        //     grid-row: 2/span 4;
        // }
        // li:nth-child(4) {
        //     grid-column: 13/span 4;
        //     grid-row: 1/span 4;
        // }

        // li:nth-child(5) {
        //     grid-column: 1/span 4;
        //     grid-row: 7/span 4;
        // }

        // li:nth-child(6){
        //     grid-column: 5/span 4;
        //     grid-row: 6/span 4;
        // }

        // li:nth-child(7) {
        //     grid-column: 9/span 4;
        //     grid-row: 7/span 4;
        // }
        // li:nth-child(8) {
        //     grid-column: 13/span 4;
        //     grid-row: 6/span 4;
        // }

        .speaker:first-child {
            margin-top: 60px;

            @media (max-width: 576px) {
                margin-top: 0;
                margin-bottom: 1em;
            }
        }

        .speaker:nth-child(3) {
          margin-top: 60px;
            @media (max-width: 576px) {
                margin-top: 0;
                margin-bottom: 1em;
            }
        }

        .speaker:nth-child(5) {
           margin-top: 60px;
            @media (max-width: 576px) {
                margin-top: 0;
                margin-bottom: 1em;
            }
        }
        .speaker:nth-child(7) {
           margin-top: 60px;
           
           @media (max-width: 576px) {
             margin-top: 0;
             margin-bottom: 1em;
           }
        }
    }

    .more-speakers-text {
        text-align:center;
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
        margin-top: 4em;
    }
}

// MC

.master-ceremony {
    background-image: url("../images/bg-mc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgba(#fff, 0.8);
    padding-bottom: 4em;

    @media (max-width: 767px) {
        text-align: center; 
    }

    h2 {
        color: #EF318D;
        padding-top:1.5em;
        margin-bottom: 1em;

        .tagline {
            font-size: 0.9rem;
            color: #fff;
            font-weight: 400;
        }

        @media (max-width: 767px) {
            padding-top: 0;
        }
    }

    .block {
        max-width: 1300px;
    }

    img {
        width: 100%;
        max-width: 450px;
        height: auto;
        margin: 0 auto;

        @media (max-width: 767px) {
            max-width: 300px;
        }
    }
}

// SPONSORS

.sponsors {
    text-align: center;
    background: #f9f9f9;
    padding: 4em 0 5em;

    .sponsors-list {
        display: grid;
        grid-template-rows: auto;
        grid-row-gap: 2px;
        grid-column-gap: 2px;
        // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-columns: repeat(1, 1fr);
        background:rgb(233, 233, 233);
        margin-bottom: 4em;

        @media (min-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        // @media (min-width: 1600px) {
        //     grid-template-columns: repeat(5, 1fr);
        // }

         > * {
            display: flex;
            padding: 30px 40px;
            background: #f9f9f9;
            justify-content: center;
            align-items: center;
            height: 180px;

            &:hover {
                img {
                    transform: translateY(-10px) scale(1.05);
                    filter: none;
                    opacity: 1;
                }
            }
        }

        img {
            max-width: 75%;
            filter: grayscale(100%);
            opacity: 0.9;
            transition: all 0.3s ease;

            @media (min-width: 480px) {
                max-width: 55%;
            }
        }

        
    }
}





